extends ../layout

block content
    div
        a(href='/books/') Back to books
    div.container
        h3 Enter Book Details
        form(id='form', method='post', action='/books/create')
            label(for='tilte') Title
            input.form-control(type='text', id='title', name='title')
            <br/>
            label(for='author') Author
            input.form-control(type='text', id='author', name='author')
            <br/>
            label(for='isbn') ISBN
            input.form-control(type='text', id='isbn', name='isbn')
            <br/>
            label(for='publicationDate') Publication Date
            input.form-control(type='text', id='publicationDate', name='publicationDate')
            <br/>
            label(for='publisher') Publisher
            input.form-control(type='text', id='publisher', name='publisher')
            <br/>
            label(for='price') Price
            input.form-control(type='text', id='price', name='price')
            <br/>
            label(for='genre') Genre
            select.form-control(id='genre', name='genre')
                for genre in genres
                    option(value="#{genre}") #{genre}
            <br/>
            label(for='format') Format
            select.form-control(id='format', name='format')
                each format in formats
                    option(value="#{format}") #{format}
            <br/>
            <br/>
            input(type='submit', value='Add Book')
